.add-ingredient-dropdown{
  position:absolute;
  left: 500px;
}

.nav-list-ingredient{
  border-style: solid;
  border-color: antiquewhite;
  max-width: 500px;
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

.input-no-border{
  width:40px;
  border: none;
}
